$b-radius: 20px;

.ItemsDisplay {
    background-color: white;
    height: 60vh;
    border-radius: $b-radius $b-radius 0 0;
    margin-top: -30vh;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5)
}
.category {
    background-color: #111;
    color: #fff;
    box-shadow: 0px 18px 20px -20px rgba(0,0,0,0.85);
    transition: background-color 150ms linear;
    margin-top: -1px; // Issue with border radius partially showing outline of white layer underneath

    &:hover {
        background-color: #222;
        cursor: pointer;
    }

    &.active {
        background-color: #fff;
        color: #000;
        cursor: default;
        
    }
}
.category:first-of-type  {
    border-radius: $b-radius 0 0 0;
}
.category:last-of-type {
    border-radius: 0 $b-radius 0 0;
}