#landingContainer {
    background-color: #444;
    height: 100vh;
    width: 100vw;
}
#landingOverlay {
    background: radial-gradient(circle at bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
}
.landingImage {
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
}
.firstImage {
    background-image: url('../images/bottles-background-xl.jpg');
    background-size: 110vw auto;
    background-position: 0% 50%;
    opacity: 0;
    transition: background-position 15s linear,
    opacity 750ms linear;
}
.secondImage {
    background-image: url('../images/backgroundWide2.jpg');
    background-size: 110vw auto;
    background-position: 0% 50%;
    opacity: 0;
    transition: background-position 15s linear,
    opacity 750ms linear;
}
.thirdImage {
    background-image: url('../images/backgroundWide3.jpg');
    background-size: 110vw auto;
    background-position: 0% 70%;
    opacity: 0;
    transition: background-position 15s linear,
    opacity 750ms linear;
}
.fx {
    background-position: -5rem;
    opacity: 1;
}
